.panel {

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;

    &__form {
        grid-column: 1 / 2;
    }

    &__problem {
        grid-column: 2 / 3;
    }

}